############################################
# LETMEKNOW – SUPERUSER FRONTEND ENV TEMPLATE
############################################

# Staging / test
VITE_API_BASE_URL=https://lmk-api-test.azurewebsites.net/v1

# Prod (esempio)
# VITE_API_BASE_URL=https://api.let-me-know.it/v1
